/* Dark theme background */
.cart {
  background-color: #1a1a1a;
  font-family: var(--poppins-font);
  color: #fff;
  padding: 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  /* align-items: center; */

}

.cart h2 {
  align-self: center;
  font-size: 2rem;
  margin: 0;
}

/* Cart items container */
.cart-content {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  align-items: center;
}

/* Cart item */
.cart-item {
  display: flex;
  align-items: center;
  width: 75%;
  margin-bottom: 20px;
  margin-left:20%;
  margin-right: 20%;
  border: 1px solid #333;
  border-radius: 10px;
  padding: 10px;
}

/* Cart item image */
.cart-item img {
  height: 200px;
  width: 200px;
  margin-right: 20px;
  border-radius: 10px;
}

/* Cart item content */
.cart-item-content {
  flex: 1;
  margin-left: 50px;
}

/* Cart item title */
.cart-item-title {
  font-size: 18px;
  margin: 0;
}

/* Cart item ingredients */
.cart-item-ingredients {
  font-size: 14px;
  margin: 5px 0;
}

/* Selected Crust and Size */
.cart-item-content section {
  font-size: 14px;
  margin: 5px 0;
}

/* Selected Toppings */
.cart-item-content ul {
  list-style: none;
  padding: 0;
}

.cart-item-content li {
  font-size: 14px;
  margin: 5px 0;
}

/* Cart item price */
.cart-item-price {
  font-size: 16px;
  font-weight: bold;
}

/* Delete button */
.delete-button {
  background-color: #ff6666;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  margin: 10px 0;
  cursor: pointer;
  transition: background-color 0.3s;
}

.delete-button:hover {
  background-color: #ff3333;
}

.cart-footer{
  display: flex;
  flex-direction: column;
  width: 500px;
  align-items: center;
  
}
/* Clear cart button */
.cart-clear-btn {
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  margin: 10px 0;
  cursor: pointer;
  transition: background-color 0.3s;
}

.cart-clear-btn:hover {
  background-color: var(--pizza-red);
}

/* Cart totals */
.cart-totals {
  display: flex;
  flex-direction: column;
  font-size: 18px;
  font-weight: bold;
  margin-top: 20px;
}

/* Checkout buttons */
.checkout-interaction-btns1{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 325px;
  gap:1rem;
  margin-top: 20px;
}

.active-button-style {
  background-color: #66ccff;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.active-button-style:hover {
  background-color: #33b5e5;
}

.checkout-backtomenu-btn {
  background-color: #ccc;
  color: #333;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.checkout-backtomenu-btn:hover {
  background-color: #bbb;
}
.cart-item-qty {
  width: 25%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.cart-item-quantity {
  /* padding: 0.25rem; */
  width: 2rem;
  height: 2rem;
  border: none;
  background-color: #006f1e;
  color: #fff;
  font-size: 1rem;
}

